.button-wrapper {
    text-align: center;
    margin-top: 5rem;
}

.button {
    &:link,
    &:visited {
        font-size: 1.8rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        border-radius: 2px;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 .5rem 1rem rgba($color-white, .2);
        color: $color-white;
    }

    &:active {
        transform: translateY(1px);
    }

    &-primary {
        background-color: $color-secondary;
        color: $color-black;
    
        &:hover {
            background-color: $color-pharlap;
        }
    }

    &-secondary {
        background-color: $color-black;
        color: $color-secondary;
    
        &:hover {
            background-color: $color-martini;
        }
    }
}

.button-inline:link,
.button-inline:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    color: $color-primary;
    background-color: transparent;
    border-bottom: 2px solid $color-primary;
    transition: all .2s;

    &:hover {
        background-color: $color-pharlap;
        color: $color-white;
        box-shadow: 0 .5rem 2rem rgba($color-white, .2);
    }

    &:active {
        transform: translateY(1px);
    }
}

.button-small {
    display: inline-block;
    border: none;
    padding: .3rem 2rem;
    margin: 0;
    text-decoration: uppercase;
    background: $color-secondary;
    color: $color-black;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    &:hover,
    &:focus {
        background: $color-martini;
    }
    
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    &:active {
        transform: scale(0.99);
    }
    
    &--question {
        display: none;
        padding: .5rem .7rem;
        background: transparent;
        color: $color-white;
        font-size: 3rem;
        font-weight: 700;

        @include respond(br680) {
            display: inline-block;
        }
    }
}

.button-question {
    display: none;
    border: none;
    padding: .5rem .7rem;
    margin: 0;
    text-decoration: uppercase;
    background: transparent;
    color: $color-white;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    &:hover,
    &:focus {
        background: $color-martini;
    }
    
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    &:active {
        transform: scale(0.99);
    }
}