.img-with-box {
    display: flex;

    &__img {
        max-height: 50rem;
        max-width: auto;

        display: block;
    }

    &__box {
        border: 1rem solid $color-primary;
        padding: 2rem;
        background-color: $color-white;

        margin-top: 4rem;
        margin-left: -12rem;
        align-self: flex-start;

        @include respond(br930) {
            margin-top: 7rem;
            margin-left: -30rem;
        }

        @include respond(br680) {
            margin-top: 30rem;
            margin-left: -50rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        margin: 1.5rem 0 2.5rem 0;
    }
}