.img-with-box-small {
    position: relative;
    flex: 1 23%;

    height: 40rem;
    margin: 1rem;
    border-radius: 3px;
    overflow: hidden;

    &__img {
        display: block;
        height: 100%;
        width: 100%;

        object-fit: cover;
    }

    &__box {
        position: absolute;
        right: 5%;
        bottom: 5%;

        padding: 1.5rem;
        background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5));
        border-radius: 3px;

        color: $color-grey-medium;

        @include respond(br680) {
            padding: .3rem .5rem;

            > div {
                display: none;
            }
        }
    }

    &__link {
        margin-top: .3rem;
        text-align: right;
    }
}