// ROOTS

$hero-image: '../images/hero-photo.jpg';

// FONTS:

$f-ultralight: 100;

// COLORS

$color-primary: #8B3B3B;
$color-secondary: #CBE1EA;
$color-pharlap: #A68689;
$color-martini: #AC9C9C;
$color-black: #080303;
$color-grey-verydark: #A6A6A6;
$color-grey-dark: #BFBFBF;
$color-grey-medium: #D9D9D9;
$color-grey-light: #f4f4f4;
$color-white: #fff;

// MEASURES

$row-width: 114rem;
$row-big-width: 120rem;