body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #080303;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.heading {
  text-transform: uppercase;
  font-weight: 300;

  &--primary {
    font-size: 4rem;
  }

  &--secondary {
    font-size: 3.5rem;
  }

  &--tertiary {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &--fourth {
    font-size: 1.6rem;
    font-weight: 400;
  }
}