.u-mt-2 {
    margin-top: 2rem;
}

.u-mt-4 {
    margin-top: 4rem;
}

.u-mr-2 {
    margin-right: 2rem;
}

.u-mb-2 {
    margin-bottom: 2rem;
}

.u-flex {
    display: flex;
    flex: 1;
}

.u-flex-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-justify-end {
    justify-content: flex-end;
}

.u-justify-between {
    justify-content: space-between;
}