.header {
    background-color: $color-primary;
    padding: 1rem;
    font-size: 1.7rem;
    z-index: 9999;
}

.logo {
    font-size: 3rem;

    &__link {
        text-decoration: none;
        color: $color-white;
    }
}

.nav-header-wrap {
    display: flex;
    align-items: center;

    @include respond(br680) {
        display: none;
    }

    &--mobile {
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0 2rem 2rem;
        z-index: 9999;
    }
}

.nav-header {
    margin-right: 1rem;

    &__list {
        list-style: none;

        display: flex;
        align-items: center;

        @include respond(br680) {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        }
    }

    &__item {
        padding: 1rem 2rem;
    }

    &__link:link,
    &__link:visited {
        color: $color-secondary;
        text-decoration: none;
    }

    &__link:hover,
    &__link:active {
        padding-bottom: 2.1rem;
        border-bottom: solid 3px $color-secondary;
    }

    &__button {
        display: none;

        border: none;
        background: transparent;

        @include respond(br680) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin: 0;
        fill: $color-secondary;
        font-family: inherit;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;

        &--hidden {
            display: none;
        }
    }
}